#data
Tasas_y_Poblacion_Tec_16072020.xlsx
~$Tasas_y_Poblacion_Tec_16072020.xlsx
Colaboradores_Covid_positivos_13_08_20.xlsm
~$Colaboradores_Covid_positivos_13_08_20.xlsm
Seguimiento_a_casos2.xlsm
~$Seguimiento_a_casos2.xlsm
campus_contra_colaborador.xlsx
~$campus_contra_colaborador.xlsx
campus_contra_colaborador2.xls
.RData
.Rhistory